<div *ngIf="employee$ | async as employee" class="employee-edit-form">
  <div class="card card--photo">
    <h3 class="card__header">
      Profile Picture
      <a mat-icon-button [routerLink]="['/']">
        <mat-icon>undo</mat-icon>
      </a>
    </h3>
    <div class="card__body">
      <img alt="" [src]="employee.photo" loading="lazy" />
    </div>
  </div>
  <div class="card card--form">
    <h3 class="card__header">Employee Details</h3>
    <div class="card__body">
      <form [formGroup]="employeeForm" class="form-grid">
        <mat-form-field appearance="outline" class="form-grid__id">
          <mat-label>ID</mat-label>
          <input
            matInput
            readonly
            formControlName="id"
            placeholder="Enter ID"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-grid__name">
          <mat-label>Name</mat-label>
          <input
            matInput
            maxlength="30"
            formControlName="name"
            placeholder="Enter Name"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-grid__status">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of employeeStatus" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-grid__role">
          <mat-label>Role</mat-label>
          <input
            matInput
            maxlength="30"
            formControlName="role"
            placeholder="Enter Role"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-grid__email">
          <mat-label>Email</mat-label>
          <input
            matInput
            maxlength="30"
            formControlName="email"
            placeholder="Enter Email"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-grid__joining-date">
          <mat-label>Joining Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="joiningDate"
            placeholder="Enter Joining Date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <a
          mat-stroked-button
          class="form-grid__cancel-link"
          [routerLink]="['/']"
          >Cancel</a
        >
        <button
          mat-raised-button
          color="primary"
          class="form-grid__update-button"
          [disabled]="employeeForm.invalid || employeeForm.untouched"
          (click)="updateEmployee()"
        >
          Update Employee
        </button>
      </form>
    </div>
  </div>
</div>
