@import 'src/scss/colors.scss';
@import 'src/scss/variables.scss';
@import 'src/scss/mixins.scss';

.employee-edit-form {
  display: flex;
  gap: $gap-md;

  .card {
    display: flex;
    flex-direction: column;

    &__header {
      @include font-style(16px, 500);

      padding: $gap-md;
      background-color: $cultured;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      a {
        display: none;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: $gap-md;
      background-color: $white;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
      }
    }

    &--form {
      flex-grow: 1;
    }
  }

  .form-grid {
    display: grid;
    width: 100%;
    padding: 16px;
    grid-template-columns: 15% 15% 1fr;
    grid-gap: 20px;
    grid-template-areas:
      'id name name'
      'status status role'
      'joiningDate joiningDate email'
      'updateButton updateButton updateButton'
      'cancelLink cancelLink cancelLink';

    &__id {
      grid-area: id;
    }

    &__name {
      grid-area: name;
    }

    &__role {
      grid-area: role;
    }

    &__status {
      grid-area: status;
    }

    &__email {
      grid-area: email;
    }

    &__joining-date {
      grid-area: joiningDate;
    }

    &__cancel-link {
      grid-area: cancelLink;
    }

    &__update-button {
      grid-area: updateButton;
    }
  }

  @media (max-width: 768px) {
    height: 100%;
    flex-direction: column;

    .form-grid {
      overflow-y: scroll;
      grid-template-columns: 1fr;
      grid-template-areas:
        'id'
        'name'
        'status'
        'role'
        'joiningDate'
        'email'
        'updateButton'
        'cancelLink';
    }

    .card {
      &--form {
        overflow: hidden;
        flex-grow: 1;

        .card__body {
          overflow: hidden;
        }
      }

      &--photo {
        .card__header {
          display: flex;
          justify-content: space-between;

          a {
            display: flex;
            padding: 0;
            height: auto;
            width: auto;
          }
        }
        .card__body {
          padding: 0;

          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}
