@import 'src/scss/colors.scss';
@import 'src/scss/variables.scss';

.employee-list {
  ul {
    list-style-type: none;
    padding: $gap-lg;
    margin: 0;
    background: $white;
    border-radius: 8px;
  }
}
