@import 'src/scss/colors.scss';
@import 'src/scss/variables.scss';

:host {
  padding: 16px 64px;
  display: flex;
}

.employee-filter-form {
  display: flex;
  flex-grow: 1;
  gap: $gap-sm;

  &__select-type {
    flex-basis: 25%;
  }

  &__select-value {
    flex-basis: 75%;
  }

  &__select-value,
  &__select-type {
    background-color: $white;
    border-radius: 8px;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &__select-value,
    &__select-type {
      flex-grow: 1;
    }
  }
}
