@import 'src/scss/colors.scss';
@import 'src/scss/variables.scss';
@import 'src/scss/mixins.scss';

.employee-list-item {
  display: grid;
  grid-template-columns: 15% 20% 20% 15% 15% 15%;
  grid-template-areas: 'photo name email role status actions';
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid $silver;
  padding: $gap-md 0;

  &__photo {
    grid-area: photo;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $silver;
  }

  &__name {
    @include font-style(14px, 500);

    grid-area: name;
  }

  &__email {
    @include font-style(13px);

    grid-area: email;
    color: $cyan;
  }

  &__role {
    @include font-style(13px);

    grid-area: role;
  }

  &__status {
    @include font-style(13px, 500);

    display: flex;
    align-items: center;
    grid-area: status;
    padding: $gap-sm;
    border-radius: 16px;

    span {
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      margin-right: $gap-xs;
    }

    &--active {
      background-color: $light-green;

      span {
        background-color: $green;
      }
    }

    &--inactive {
      background-color: $light-red;

      span {
        background-color: $red;
      }
    }

    &--suspended {
      background-color: $light-yellow;

      span {
        background-color: $yellow;
      }
    }
  }

  &__actions {
    grid-area: actions;
  }

  @media (max-width: 768px) {
    grid-template-columns: 30% 1fr 10%;
    grid-template-areas:
      'photo name actions'
      'photo email actions'
      'photo role actions'
      'photo status actions';
  }
}
